<%- include("../partials/header") %>
<form method="GET">
  <div>
    <nav class="nav_cohort">
        <a class="navbar-brand" href="#">
        <% if(logo_url){ %>
        <img src="<%= logo_url %>" height="200" width="200">
         <% } %>    
        </a>
        <a class="cohort-name-form">
        <h2><%= name %></h2>
        </a>
    </nav>
    <p><%= members%></p>
  </div>
  <div>
    <label>Method</label> <br>
    <% const list_methods = [
      "Team Count",
      "Number Per Team"
    ] %>
    <% for (let option of list_methods) { %>
      <input
        type="radio" name="choose_method"
        id="<%= option %>" value="<%= option %>"
      >
      <label for="<%= option %>"><%= option %></label>
      <br>
    <% } %>
  </div>
  <div>
    <label>Quantity</label> <br>
    <input type="number" name="quantity" placeholder="">
  </div>
  <input type="submit" value="Assign Teams">
<%if(list_of_members.length > 0) {%>
<div>
  <h2>#     Members</h2>
    <% for (let i=0;i < list_of_members.length;i++) { %>
        <p> <%= i+1 %>     <%= list_of_members[i].join(', ')%></p>
    <% } %>
  </div>
  <% } %>
</form>
  <%- include("../partials/footer") %>
  