<%- include("../partials/header") %>
<form action="/cohort/<%= cohort.id %>" method="POST">
  <div>
    <nav class="nav_cohort">
        <a class="navbar-brand" href="#">
        <% if(cohort.logo_url){ %>
        <img src="<%= cohort.logo_url %>" height="50" width="50">
         <% } %>    
        </a>
        <a class="cohort-name-form" href="/home">
        <h2><%= cohort.name %></h2>
        </a>
    </nav>
    <p><%= cohort.members%></p>
  </div>
  <div>
    <label>Method</label> <br>
    <% const list_methods = [
      "Team Count",
      "Number Per Team"
    ] %>
    <% for (let option of list_methods) { %>
      <input
        type="radio" name="choose_method"
        id="<%= option %>" value="<%= option %>"
      >
      <label for="<%= option %>"><%= option %></label>
      <br>
    <% } %>
  </div>
  <div>
    <label>Quantity</label> <br>
    <input type="text" name="quantity" placeholder="">
  </div>
  <input type="submit" value="Assign Teams">
</form>
  
  <%- include("../partials/footer") %>
  